.settingsBar {
  width: 100vw;
  height: 55px;
  background-color: var(--ui-primary);

  display: flex;
  gap: 3rem;
  align-items: center;
  padding-left: 2rem;
}

.logo {
  color: #666;
}

.selectedTool {
  color: #666;
  font-size: 16px;
}